<ion-card>
  <ion-card-header>
    {{ 'chart-component.line' | translate }}
  </ion-card-header>
  <ion-card-content>
    <canvas #line></canvas>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    {{ 'chart-component.bar' | translate }}
  </ion-card-header>
  <ion-card-content>
    <canvas #bar></canvas>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    {{ 'chart-component.doughnut' | translate }}
  </ion-card-header>
  <ion-card-content>
    <canvas #doughnut></canvas>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    {{ 'chart-component.pie' | translate }}
  </ion-card-header>
  <ion-card-content>
    <canvas #pie></canvas>
  </ion-card-content>
</ion-card>
